/* PC */
@media (min-width:992px) {}


/* Mobile and Tablet */
@media (max-width:991.98px) {

    /* Ẩn navbar */
    /* .navbar {
        display: none;
    }

    .header .body {
        justify-content: space-between;
    } */

    /* main {
        display: none;
    }

    .footer {
        display: none;
    } */
}

/* Tablet */
@media (min-width:768px) and (max-width:991.98) {}


/* Tablet */
@media (max-width:767.98px) {}